<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parth.StudentManagementMyBatisJwt.repository.messmanagement.MessRepository">
    <resultMap id="MessResultMap" type="com.parth.StudentManagementMyBatisJwt.model.messmanagement.MessEntity" >
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="messType" column="mess_type" />
        <result property="location" column="location" />
    </resultMap>

    <select id="findAllMesses" resultMap="MessResultMap" >
        select * from mess;
    </select>

    <select id="findMessById" resultMap="MessResultMap" parameterType="java.lang.Long">
        select * from mess where id = #{id}
    </select>

    <insert id="addMess" keyProperty="id" keyColumn="id" useGeneratedKeys="true" parameterType="com.parth.StudentManagementMyBatisJwt.model.messmanagement.MessEntity" >
        insert into mess (name, mess_type, location) values (#{name}, #{messType}, #{location})
    </insert>
</mapper>