<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parth.StudentManagementMyBatisJwt.repository.SubjectRepository">
    <resultMap id="SubjectResultType" type="com.parth.StudentManagementMyBatisJwt.model.SubjectEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="credits" column="credits"/>
        <association property="teacher" column="teacher_id"
                     javaType="com.parth.StudentManagementMyBatisJwt.model.TeacherEntity"
                     select="selectTeacherForSubject"/>
    </resultMap>

    <resultMap id="DisplaySubjectResultMap" type="com.parth.StudentManagementMyBatisJwt.model.SubjectEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="credits" column="credits"/>
        <result property="teacher.id" column="teacher_id"/>
    </resultMap>

    <select id="findAllSubjects" resultMap="DisplaySubjectResultMap">
        select * from subject
    </select>

    <select id="findSubjectById" resultMap="SubjectResultType" parameterType="java.lang.Long">
        select * from subject where id = #{id}
    </select>

    <select id="selectTeacherForSubject" parameterType="java.lang.Long"
            resultMap="com.parth.StudentManagementMyBatisJwt.repository.TeacherRepository.TeacherInfoResultMap">
        select t.id, t.name, t.age, t.email, t.city from teacher t INNER JOIN subject s on t.id = s.teacher_id where
        s.id = #{id}
    </select>

    <select id="getSubjectIdBySubjectName" parameterType="String" resultType="java.lang.Long" >
            select id from subject where name = #{subjectName}
    </select>

    <insert id="addSubject" parameterType="com.parth.StudentManagementMyBatisJwt.model.SubjectEntity"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into subject (name, credits, teacher_id) values (#{name}, #{credits}, #{teacher.id})
    </insert>
</mapper>